/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff0f5;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd6e8;
}

/* Main */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 20px;
    font-weight: bold;
}

main p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

main ul {
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

main ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFD700;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-volver:hover {
    background-color: #cce383;
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

footer .contacto {
    margin-bottom: 15px;
}

footer .contacto a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

footer .contacto img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

footer .contacto img:hover {
    transform: scale(1.1);
}

footer .pfreq {
    margin-top: 10px;
}

footer .pfreq a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer .pfreq a:hover {
    color: #007BFF;
}